# Entornos y secretos
.env
.env.*
!/.env.example
!/.env.prod.example

# Dependencias y artefactos de Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
build/
dist/
*.egg-info/
venv/
env/
.venv/
pip-log.txt
.pytest_cache/
.tox/

# Dependencias y artefactos de Node.js
node_modules/
.next/
out/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
docker-compose-build.log

# Docker data volumes
# Ignorar el contenido de los volúmenes, pero mantener los directorios
/data/*
!/data/.gitkeep
/whatsapp_session/
/whatsapp_session_prod/

# Configuraciones de IDEs
.idea/
.vscode/
*.swp
*.swo

# Archivos específicos del sistema operativo
.DS_Store
Thumbs.db

# Archivos sensibles y otros
*.pem
*.sql
!supabase/migrations/*.sql
gcloud-credentials.json
*~
