# Environments
.env
.env.*
!/.env.example

# Python
__pycache__/
*.pyc
.pytest_cache/
/backend/app/__pycache__/
/backend/tests/__pycache__/

# Node
node_modules/
/frontend/node_modules/
/whatsapp/node_modules/
npm-debug.log
yarn-error.log

# Docker
!/data/
/data/*
!/data/.gitkeep
/whatsapp/
/whatsapp_session/
/whatsapp_session_prod/

# Other
.DS_Store
*.pem
